{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fluent-icons/FluentSystemIcons-Regular.css' %}">

    <script src="{% static 'js/resizer.js' %}" defer></script>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>
<body>
    <section>
        <main>
            {% include 'components/sheet-view.html' %}
        </main>
        <div class="resizer"></div>
        <aside>
            {% include 'components/assistant.html' %}
        </aside>
    </section>
</body>
</html>